HISWebApi/Connected Services/TallyServerProxy/TallyAdapterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.22/TallyInterface/TallyAdapterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Tally_InsertDiagnosticSales_1314">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vouchers" nillable="true" type="q1:ArrayOfVoucherData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dss" nillable="true" type="q2:DiagSalesSummary" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertDiagnosticSales_1314Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_InsertDiagnosticSales_1314Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertDiagnosticSales_CurFinYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vouchers" nillable="true" type="q3:ArrayOfVoucherData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dss" nillable="true" type="q4:DiagSalesSummary" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertDiagnosticSales_CurFinYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_InsertDiagnosticSales_CurFinYearResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertPharmacySales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vouchers" nillable="true" type="q5:ArrayOfVoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertPharmacySalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_InsertPharmacySalesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="groups" nillable="true" type="q6:ArrayOfGroupData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_CreateGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_CreateLedger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ledgers" nillable="true" type="q7:ArrayOfLedgerData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_CreateLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_CreateLedgerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q8:VoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_InsertVouchersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertVouchers_Bulk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vchList" nillable="true" type="q9:ArrayOfVoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_InsertVouchers_BulkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_InsertVouchers_BulkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ModifyVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q10:VoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ModifyVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_ModifyVoucherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ImportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_ImportDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ModifyVouchers1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q11:VoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_ModifyVouchers1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_ModifyVouchers1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_PharmacyVoucherEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q12:VoucherData" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_PharmacyVoucherEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_PharmacyVoucherEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_PharmacyVoucherEntryTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_PharmacyVoucherEntryTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_PharmacyVoucherEntryTempResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_SalaryEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q13:SalaryInfo" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_SalaryEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_SalaryEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_DonationEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q14:SalaryInfo" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_DonationEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_DonationEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyNameForTally">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comp_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unit_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyNameForTallyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyNameForTallyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_VoucherEntryNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q15:ArrayOfVoucherDataVertical" />
        <xs:element minOccurs="0" name="VoucherType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tally_VoucherEntryNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tally_VoucherEntryNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>